{% extends "base.html" %}

{% load static %}

{% block title %}post_detail.html{% endblock %}

{% block extra-style %}
<style>
    .post-body {
    width: 80%;
    margin: auto;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 16px;
</style>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra-style %}

{% block content %}
<div class="post-body">
<h2>{{ object.title }}</h2>

<p>
    {% if object.get_next %}
    <a href="{{ object.get_next.get_absolute_url }}" title="View previous post">
    &laquo;-- {{ object.get_next }}
    </a>
    {% endif %}

    {% if object.get_previous %}
    | <a href="{{ object.get_previous.get_absolute_url }}" title="View next post">
        {{ object.get_previous }} --&raquo;
    </a>
    {% endif %}
</p>

<p>{{ object.modify_dt|date:"j F Y" }}</p>
<br>

<div>
    {{ object.content|linebreaks }}
</div>

<br>
<div>
    <b>TAGS</b> <i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
    <a href="{% url 'blog:tagged_object_list' tag.name %}">{{ tag.name }}</a>
    {% endfor %}
    &emsp;
    <a href="{% url 'blog:tag_cloud' %}"> <span class="btn btn-info btn-sm">TagCloud</span> </a>
</div>

<br>
<div class="comment" id="{{ user }}">
    <h5 class="js-h5"><strong>댓글</strong></h5>
    <form class="js-form">
        <input type="text" placeholder="댓글을 입력해주세요">
    </form>
    <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}

{% block extra-script %}
<script src="{% static 'js/test.js' %}"></script>
{% endblock %}
